
.skills {
    width: 100vw;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}
.single_skill {
    flex: 1;
    height: 100vh;
    height: 100dvh;
    gap: 1rem;
}
.single_skill > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
