
.skills {
    width: 100vw;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}
.single_skill {
    flex: 1;
    height: 100vh;
    width: 100vw;
    gap: 1rem;
}
.single_skill > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.grammar{
    width: 100vw;
    /* max-width: 95%; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #23085a;
    color: #efecf3;
}
.grammar > h1 {
    color: #1eff00;
    margin-left: 10px;
    font-size: 50px;
}
.grammar > h2 {
    color: #ffffff;
    text-align: center;
    font-size: 75px;
}
.grammar > p {
    margin-left: 25px;
    font-size: 25px;
    margin-right: 100px;
}
.grammar > li {
    margin-left: 25px;
    font-size: 25px;
}
.btn_wrapper button {
    padding: 10px 20px;
    background-color: #23085a;
    color: #efecf3;
    border-radius: 2vmax;
    height: 45px;
    width: 300px;
    align-items: flex-start;
}
.btn_wrapper {
    display: flex;
    justify-content:left;
}
.btn_wrapper button:hover {
    background-color: #1eff00;
    transition: ease-in-out;
    border-color: #ffffff;
    color: #23085a;
    transform: scale(1.1);
}
